body 
{
	overflow : scroll;
	margin : 5px auto;
	width : 1200px;
	font-family : georgia, sans-serif;
	background: #595959;	/* for browsers that don't support gradient */
	background: -webkit-linear-gradient(top, #595959, #262626);	/* chrome support */
	background: -moz-linear-gradient(top, #595959, #262626);	/* firefox support */
	background-attachment: fixed;	/* fixes cut off of background */
}

nav 
{
	display: block;
    text-align: center;
	line-height: 50px;
	width: 95%;
	margin: 0px auto;
	height: 50px;
	margin-top: 15px;
	background: #BDBDBD;	/* for browsers that don't support gradient */
	background: -webkit-linear-gradient(left, #BDBDBD 50%, #E0E0E0);	/* chrome support */
	background: -moz-linear-gradient(left, #BDBDBD 50%, #E0E0E0);	/* firefox support */
	border-radius: 25px;
}
nav ul 
{
    list-style-type: none;
	margin: 0px 0px;
	width: 95%;
	margin-left: -10px;
}
nav ul li 
{
	display: inline-block;
	margin: auto;
}
nav ul li a 
{
	display: block;
	line-height: 50px;
    color: #000000;
	padding-left: 17px;
	padding-right: 17px;
    text-decoration: none;
	font-size: 18px;
	font-family: Trebuchet MS, Georgia;
}
nav li a:hover 
{
    background-color: #363636;
}
nav li a.current
{
	background-color: #595959;
}
nav li a.current:hover
{
	background-color: #363636;
}

section 
{
	float: left;
	width: 67%;
	margin-left: 20px;
	margin-top: 10px;
}

aside 
{
	float: right;
	margin-top: 75px;
	width: 27%;
	margin-right: 20px;
}

footer 
{
	clear: both;
	display: block;
    text-align: center;
	line-height: 40px;
	width: 95%;
	margin: 0px auto;
	height: 40px;
	margin-top: 15px;
	background: #BDBDBD;	/* for browsers that don't support gradient */
	background: -webkit-linear-gradient(left, #BDBDBD 50%, #E0E0E0);	/* chrome support */
	background: -moz-linear-gradient(left, #BDBDBD 50%, #E0E0E0);	/* firefox support */
	border-radius: 25px;
	text-decoration: none;
	font-size: 14px;
	font-family: Trebuchet MS, Georgia;
	color: #000000;
}

h3.asideHeader
{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

div.section
{
	background: #808080;	/* for browsers that don't support gradient */
	background: -webkit-linear-gradient(left, #808080 20%, #5E5E5E);	/* chrome support */
	background: -moz-linear-gradient(left, #808080 20%, #5E5E5E);	/* firefox support */
	margin: 5px;
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 10px;
	border: 10px outset #A1A1A1;
	box-shadow: 20px 20px 20px #000000;
}

p.wallOfText
{
	text-indent: 30px;
	letter-spacing: 0.5px;
	line-height: 27px;
	margin-left: 10px;
}

a.top
{
	margin-left: 95%;
	font-weight: bold;
	font-size: 14px;
}

h1
{
	text-shadow: 2px 2px 6px #000000;
	font-size: 36px;
	font-family: Trebuchet MS, Georgia;
}